{% extends 'base.html' %}

{% block title %}
    Account Blocked
{% endblock %}

{% block content %}
    <div class="container">
        {# Account blocked message template #}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <h3>Account Blocked</h3>
                    <p>Your account has been blocked. Please contact the administrator.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}