{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0 bg-white">
                <!-- Nested Row within Card Body -->
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-success mb-4">Create an Account</h1>
{#                                {{ request.user.is_superuser }}#}
                            </div>
                            <form class="user" method="post" id="register-form" autocomplete="off">
                                {% crispy register_form %}
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'reset_password' %}">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block scripts %}
    {#    <script src="{% static 'js/register.js' %}"></script>#}
    <script>
        document.body.classList.add('bg-gradient-primary')
    </script>
{% endblock %}