{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0 bg-gradient-light">
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                        <p class="mb-4">We get it, stuff happens. Just enter your email address below
                                            and we'll send you a link to reset your password!</p>
                                    </div>
                                    <form class="user" method="post">
                                        <div class="form-group">
                                            {% csrf_token %}
                                            {{ form | crispy }}
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Reset Password
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'register' %}">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}
{% block scripts %}
    <script>
        document.body.classList.add('bg-gradient-primary')
        const email = document.getElementById('id_email')
        const email_label = document.querySelector('label[for="id_email"]')
        // Add a placeholder "Enter your email..." to emial field
        email.setAttribute('placeholder', 'Enter your email...')

        // add a borderradius of 8px to the email field
        email.classList.add('rounded-pill')

        // hide the label
        email_label.style.display = 'none'

    </script>
{% endblock %}