{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5 bg-white">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-center">
{#                            <div class="col-lg-6 d-none d-lg-block" id="img">#}
{#                                <img src="{% static 'ebank.png' %}" alt="">#}
{#                            </div>#}
                            <div class="col-md-8">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome</h1>
                                    </div>
                                    <form class="user" method="post">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <input type="submit" class="btn btn-primary btn-block btn-user" value="Login">
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'reset_password' %}">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'register' %}">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
{% block scripts %}
    <script>
        document.body.classList.add('bg-gradient-primary')
    </script>
{% endblock %}
