{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-8 align-middle">
                <div class="card shadow-sm m-3 p-3 mb-3">
                    <div class="card-body">
                        <h3 class="text-success text-center">Password reset successful</h3>
                        <p class="text-dark text-center">
                           Your password has been reset. You may go ahead and log in now.
                        </p>
                        <br>
                           <a class="btn btn-primary btn-block" href="{% url 'login' %}"><span style="font-size:14pt;">Login</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        document.body.classList.add('bg-gradient-light');
    </script>
{% endblock %}