{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-header mt-3">
                    <p class="text-center text-success display-6">Enter new password</p>
                    <p class="text-primary text-center">
                    Please enter your new password twice so that we can verify that you typed in correctly
                    </p>
                </div>
                <div class="card-body p-0 bg-gradient-light">
                    <!-- Nested Row within Card Body -->
                    <div class="row justify-content-center m-3 p-3">
                        <div class="col-md-8">
                           <form method="post" class="user">
                            {% csrf_token %}
                            {{form|crispy}}
                            <input type="submit" class="btn btn-primary btn-user btn-block" value="Change Password">
                           </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock content %}
{% block scripts %}
    {#    <script src="{% static 'js/register.js' %}"></script>#}
    <script>
        document.body.classList.add('bg-gradient-primary')
    </script>
{% endblock %}