{% extends 'base.html' %}

{% block title %}
    Account Locked
{% endblock %}

{% block content %}
    <div class="container">
    <br><br>
        <div class="row mt-3 justify-content-center">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h1 class="card-title text-center">Account Locked!</h1>
                        <p class="card-text text-danger">Your account has been locked due to too many failed login attempts. Please
                            try again later or Contact the admin to unlock your account.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}